body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
/* width: 100%; /* Тут длина */
    height: 97vh; /* Тут высота блока */
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    background-size: 500%; /* Можно менять и подбирать интенсивность */
    animation: gradient 10s infinite linear; /* 10s - скорость анимации */
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, input[type=submit] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button, input[type=submit]:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    padding: 15px;
    max-width: 400px; /* Задайте максимальную ширину */
    background-color: #4caf50;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* Центрирование по горизонтали */
    margin-right: auto; /* Центрирование по горизонтали */
    display: none;
}

#site-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Значение z-index для управления наложением элементов */
}

#site-navigation a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #4caf50;
    transition: background-color 0.3s ease;
}

#site-navigation a.special-button {
    background-color: #e74c3c;
}

#site-navigation a:hover {
    background-color: #45a049;
}

#site-navigation a.special-button:hover {
    background-color: #c0392b;
}
