<div id="site-navigation">
    <a href="/" class="special-button">Home page</a>
    <a href="/auth/login/" class="button">Login page</a>
    <a href="/auth/me/" class="special-button">auth/me</a>
    <a href="/auth/items/" class="special-button">auth/items</a>
    <a href="/currency/" class="button">Currency exchange</a>
    <a href="/currency/list/" class="button">Currency list</a>
    <a href="/currency/get_list/" class="special-button">get_list</a>
    <a href="/currency/exchange/" class="special-button">exchange</a>
</div>
